body {
    margin: 1ex auto;
    padding: 0ex;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    font-size: 2ex;
    color: #333;
    background-color: #F1F1F1;
    width: 1080px;

}

pre {
    font-family: "Courier New", Courier, mono;

    font-style: normal;
    background-color: #FFFFFF;
    white-space: pre
}

h1 {
    margin: 1ex 0ex 1ex 0ex;
    padding: 0ex;

    line-height: 3ex;
    font-weight: 900;
    color: #F1F1F1;
}

h2 {
    margin: 2ex 0ex 1ex 0ex;
    padding: 0ex;
    line-height: 2ex;
    font-weight: 700;
    color: #444;
    /*font-size: 1.7ex;*/
}

h3 {
    margin: 1ex 0ex 1ex 0ex;
    padding: 0ex;
    line-height: 1.6ex;
    font-weight: 700;
    color: #222;
}

p {
    font-family: helvetica, tahoma, arial, verdana, sans-serif;

    margin: 0ex 0ex 0ex 0ex;
    padding: 2ex;
}

#WelcomeContent p{
    color:black;
}

img {
    border: 0;
}

li {
    font-family: helvetica, tahoma, arial, verdana, sans-serif;

    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex;
}

table {
    border-width: 0;
    empty-cells: show;
}

td, th {
    empty-cells: show;
    padding: .3ex .3ex;
    vertical-align: top;
    text-align: left;
    border-width: 0;
    border-spacing: 0;
    background-color: #ececec
}

th {
    font-weight: bold;
    background-color: #e2e2e2;
}

a, a:visited, a:link {
    color:black;

    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
}

a:hover {
    color: #FFFFFF;
}

a.Button, a.Button:link, a.Button:visited {
    padding: .3ex;
    color: #fff;
    background-color: #005e21;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    font-size: 1.5ex;
}

a.Button:hover {
    color: #000;
    background-color: #54c07a;
}

#Logo {
    width: 33%;
    height: 9ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: 0ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    background-color: #F4C28E;
    color: #fff;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;
}

body>#Logo {
    height: 9ex;
}

#Menu {
    width: 33%;
    height: 9ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: 0ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    background-color: #F4C28E;
    color: #FFFFFF;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    text-align: center;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;
}

#Menu, #Menu a, #Menu a:link, #Menu a:visited, #Menu a:hover {
    color: #000000;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
}

body>#Menu {
    height: 9ex;
}

#Search {
    width: 33%;
    height: 9ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: 0ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    text-align: center;
    background-color: #F4C28E;
    color: #FFFFFF;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;
}

#SearchContent {
    position: relative;
}

div#SearchContent  ul{
    /* display: none; */
    position: absolute;
    top: 42px;
    left: 94px;
    background-color:beige;
    width: 123px;
    margin: 0;
    border: 1px solid #000;
    border-radius: 2px;
    opacity: 0.9;
    z-index: 100;
}

#SearchContent ul li{
    margin-left: 0px;
    margin-top:0px;
    list-style: none;
    border-bottom: 1px solid #F4C28E;
    line-height: 20px;
    }

#SearchContent li a{
    color: #000;
    transition: font-size 0.3s;
    text-align: center;
}

#SearchContent li a:hover{
    color: #eaac00;
    font-size: 15px;
}

body>#Search {
    height: 9ex;
}

#Search input {
    border-width: .1ex .1ex .1ex .1ex;
    border-style: solid;
    border-color: #000000;
    background-color: #F8E5CB;
    color: #000000;
}

#QuickLinks {
    text-align: center;
    background-color: #FFF;
    width: 99%;
}

#PoweredBy {
    width: 30%;
    height: 9ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: .3ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    background-color: #F4C28E;
    color: #fff;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;
}

body>#PoweredBy {
    height: 9ex;
}

#Banner {
    width: 69%;
    height: 9ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: .3ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    background-color: #F4C28E;
    color: #fff;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;
}

body>#Banner {
    height: 9ex;
}

#Content {
    margin: 0;
    padding: 0ex 0ex 0ex 0ex;
    width: 99%;
    color: #333;
    background-color: #FFF;
    border-width: 0;
}

#Separator {
    clear:both;
    margin: 0;
    height:0;
}

#Main {
    position: relative;
    margin: 0;
    padding: 1ex;
    color: #333;
    background-color: #FFF;
    border-width: 1ex 0ex 2ex 0px;
    border-style: solid;
    border-color: #fff;
}

#Sidebar {
    float: left;
    background:inherit;
    width: 30%;
}

#MainImage {
    float: left;
    background:inherit;
    text-align:center;
    width: 50%;
}

#Catalog {
    padding: 1ex;
    background:inherit;
    text-align:center;
}

/*#Catalog input[type="submit"]{*/
/*    padding: .3ex;*/
/*    color: #fff;*/
/*    background-color: #005e21;*/
/*    text-decoration: none;*/
/*    font-family: helvetica, tahoma, arial, verdana, sans-serif;*/
/*    font-size: 1.5ex;*/
/*    border-width:0;*/
/*}*/
/*#Catalog input[type="submit"]:hover {*/
/*    color: #000;*/
/*    background-color: #54c07a;*/
/*    cursor:pointer;*/
/*}*/

/*#Catalog table{*/
/*    margin-left:auto;*/
/*    margin-right:auto;*/
/*}*/

/*#Catalog a{*/
/*    color: black;*/
/*    text-decoration: none;*/

/*}*/
#MyList #coul{
    padding: 0;
    margin: 0;
    list-style: none;
}

#MyList #coul  #coli{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}


#Catalog ul {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line if space is insufficient */
    padding: 0;
    margin: 0;
    list-style: none;
}

#Catalog li {
    display: flex;
    flex-direction: row; /* Horizontal layout for each li item */
    align-items: center; /* Vertically align items */
    justify-content: flex-start; /* Align items at the start */
    margin-right: 20px;
    margin-bottom: 20px; /* Space between items vertically */
    padding: 10px;
    background-color: #f9f9f9; /* Optional: background for each item */
    border-radius: 8px; /* Rounded corners for each item */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
    width: calc(33% - 20px); /* Three items per row, adjust based on available space */
    box-sizing: border-box;
}

#Catalog .product-description {
    font-size: 1.2rem;
    margin-right: 10px;
    flex: 1;
}



#Catalog .product-name {
    font-size: 1rem;
    margin-right: 10px;
    flex: 1;
    }

#Catalog .product-id {
    color: #F4C28E;
    font-weight: bold;
    text-decoration: none;
}


#BackLink{
    color: #F4C28E;
    padding: 1ex;
    float: right;
    border-width: .1ex 0ex .1ex 0px;
    /*border-style: solid;*/
    /*border-color: #000;*/
}

#BackLink a{
    color: #F4C28E;
}

#Cart{
    width: 69.99%;
    float: left;
    background-color:#fff;
}

#MyList{
    width: 30%;
    float: left;
    background-color:white;
    text-align:left;
}

#productAutoComplete{
    background-color: #ccc;
    position: relative;
    top: -24px;
    left: 85px;
    width: 187px;
    display: none;
}

#productAutoList{
    margin: 0;
    padding: 0;
    border: 1px solid #aaa;
}

.productAutoItem{
    list-style: none;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: left;
    padding-left: 1px;
    margin-top: 2px;
    color: #005121;
    cursor: pointer;
}

#flotwindow{
    /* display: none; */
    position: absolute;
    width: 200px;
    height: 160px;
    top: 80px;
    left: 800px;
    /* background-color: pink; */
}
#flotwindow>p{
    border-radius: 6px;
    text-align: center;
    left: 20px;
    width: 200px;
    height: 30px;
    background-color:antiquewhite;
    margin: 0;
    padding: 0;
    position: absolute;
    padding-top: 5px;
    font-size: large;
    font-weight: 700;

}
#flotwindow ul{
    border-radius: 6px;
    text-align: center;
    left: 20px;
    top: 30px;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: antiquewhite;
    position: absolute;
    opacity: 0.8;

}
#flotwindow li{
    line-height: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#flotwindow li p{
    margin: 0;
    padding: 0;
    font-size: large;
}

.cartImage{
    position: relative;
}

.cartImage .tips{
    /* display: none; */
    position: absolute;
    top: -10px;
    left: 7px;
    background-color: red;
    height: 13px;
    border-radius: 50%;
    opacity: 0.8;
    min-width: 14px;
}

.cartImage .tips #num{
    color: white;
    padding: 0;
    line-height: 13px;
    font-size: 11px;
    font-weight: 700;
}

.Button:hover{
    cursor: pointer;
}